.products-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.products-wrapper .product-item {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 5px;
  margin-bottom: 1.5rem;
}
.products-wrapper .product-item img {
  max-width: 100%;
}

.products-info {
  color: #444;
}

.close-icon {
  color: tomato;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2rem;
}