.filter-wrapper {
  background-color: #2c3a47;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.filter-wrapper .filter-title {
  background-color: #d35400;
  text-align: center;
  padding: 0.4rem;
}
.filter-wrapper .num-of-products {
  color: #fff;
  text-align: center;
  padding: 8px 5px;
  font-weight: 600;
}
.filter-wrapper .filter-by-size {
  padding: 0.4rem;
}
.filter-wrapper .filter-by-size span {
  margin-bottom: 0.5rem;
  display: block;
  color: #fff;
}
.filter-wrapper .filter-by-size .filter-select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}