.cart-wrapper {
  padding: 1rem 1rem;
}
.cart-wrapper hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cart-wrapper .cart-items .item {
  border-radius: 10px;
  background-color: #2c3a47;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
}
.cart-wrapper .cart-items .item .cart-img {
  width: 15%;
}
.cart-wrapper .cart-items .item .cart-img img {
  max-width: 100%;
}
.cart-wrapper .cart-items .item .cart-info {
  width: 85%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-wrapper .cart-btn span {
  border-radius: 4px;
  border: 1px solid tomato;
  color: tomato;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.cart-wrapper .cart-btn span:hover {
  background-color: tomato;
  color: #fff;
}
.cart-wrapper .cart-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-wrapper .cart-footer .total {
  font-size: 1.5rem;
}
.cart-wrapper .cart-footer .cart-btn span {
  border: 1px solid green;
  background-color: green;
  color: #fff;
  opacity: 0.7;
}
.cart-wrapper .cart-footer .cart-btn span:hover {
  opacity: 1;
}