.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  .product-item {
    max-width: 20%;
    flex: 0 0 20%;
    // gap: 2rem 2rem;
    padding: 0 5px;
    margin-bottom: 1.5rem;
    img {
      max-width: 100%;
    }
  }



}

.products-info {
  color: #444;
}
.close-icon {
  color: tomato;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2rem;
}